*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: lightgray;
    
}

/* HEADER */
.box-titolo{
    background-color: white;
}
.logo{
    padding: 10px;
    vertical-align: middle;
}
.logo-titolo{
    vertical-align: middle;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;;
}
/* /HEADER */

/* MIAN */
main{
    width: 70%;
    margin: 30px auto;
    background-color: white;
    padding: 20px 20px 20px;

}
.blocco{
    width: 80%;
    margin: auto;
    padding: 10px 10px 10px;
}

.bottone1{
    background-color: lightskyblue;
    color: white;
    border-radius: 3px;
    border-color: lightskyblue ;
}
.bottone2{
    background-color: white;
    color: grey;
    border-radius: 3px;
    border-color: grey;
}

.riga{
    color: lightgrey;
}

/* lista annidata */
.titolo-lista{
    font-family: 'Roboto', sans-serif; 
}
ul{
    list-style-type:none;
}

.rettangolo-blu{
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    font-size: 10px;
}

.rettangolo-viola{
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    font-size: 10px;
}
.rettangolo-verde{
    background-color: olivedrab;
    border-radius: 20px;
    color: white;
    font-size: 10px;
}

.rettangolo-arancio{
    background-color: darkorange;
    border-radius: 20px;
    color: white;
    font-size: 10px;
}

.rettangolo-fucsia{
    background-color: fuchsia;
    border-radius: 20px;
    color: white;
    font-size: 10px;
}

.rettangolo-verde-chiaro{
    background-color: limegreen;
    border-radius: 20px;
    color: white;
    font-size: 10px;
}
.cerchio{
    border: 1px solid red;
    display: inline-block;
    border-radius: 50%;
}
.x-rosso{
    color: red;
    border-color: red;
    
}
.v-verde{
    color: green;
    border-color: green;
}

}
/* /list annidata */



/* /MAIN */








