*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;;
}

/* HEADER */
.box-titolo{
    background-color: white;
}
.logo{
    padding: 10px;
    vertical-align: middle;
}
.logo-titolo{
    vertical-align: middle;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;;
}
/* /HEADER */

/* MIAN */
main{
    width: 70%;
    margin: 30px auto;
    background-color: white;
    padding: 20px 20px 20px;

}
.blocco{
    border: 3px solid white;
    padding: 10px 10px 10px;
}

.bottone1{
    background-color: lightskyblue;
    color: white;
    border-radius: 3px;
    border-color: lightskyblue ;
    padding: 8px;
}
.bottone2{
    background-color: white;
    color: grey;
    border-radius: 3px;
    border-color: grey;
    padding: 8px;
}

.riga{
    color: lightgrey;
    
}

/* lista annidata */
.titolo-lista{
    font-family: 'Roboto', sans-serif; 
    .triangolo{
        margin-right: 10px;
    }
}

ul{
    list-style-type:none;
}

.rettangolo-blu{
    background-color: cornflowerblue;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 8px;
}

.rettangolo-viola{
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 8px;
}
.rettangolo-verde{
    background-color: olivedrab;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 8px;
}

.rettangolo-arancio{
    background-color: darkorange;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 8px;
}

.rettangolo-fucsia{
    background-color: fuchsia;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 8px;
}

.rettangolo-verde-chiaro{
    background-color: limegreen;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 8px;
}
.cerchio{
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    border:1px red;
}
.x-rosso{
    color: red;
    border-color: red;
    
}
.v-verde{
    color: green;
    border-color: green;
}

}
/* /list annidata */



/* /MAIN */








